
<div class="theme-title">
    <h2 class="title">
        Explore 
    </h2>
    <!-- theme component  -->
    <div class="tweet">
        <img class="tweet__author-logo"
            src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?cs=srgb&dl=pexels-mohamed-abdelghaffar-771742.jpg&fm=jpg">
        <div class="tweet__main">
            <div class="tweet__header">
                <div class="tweet__author-name">
                    <p>Chris Martin</p>
                </div>
                <div class="tweet__author-slug">
                    <p>@chris_martin</p>
                </div>
                <div class="tweet__publish-time">
                    <p>15h</p>
                </div>
            </div>
            <div class="tweet__content">
                <p>One of my favorite things about the "ergonomics" of haskell is
                    being able to leave underscores in code that isn't finished yet,
                    and the type checker still works and provides useful information
                    about the incomplete code. ("holes" --
                    <a href="https://typeclasses.com/typed-holes">https://typeclasses.com/typed-holes</a>)
                </p>
                <div class="image">
                    <img class="tweet__image"
                        src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?cs=srgb&dl=pexels-mohamed-abdelghaffar-771742.jpg&fm=jpg">
                </div>
            </div>
            <div class="tweet__footer">
                <div class="tweet__likes">
                    <p>18 likes</p>
                </div>
                <div class="tweet__comments">
                    <p>19 comments</p>
                </div>

            </div>
        </div>
    </div>

    <div class="tweet">
        <img class="tweet__author-logo"
            src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?cs=srgb&dl=pexels-mohamed-abdelghaffar-771742.jpg&fm=jpg">
        <div class="tweet__main">
            <div class="tweet__header">
                <div class="tweet__author-name">
                    <p>Chris Martin</p>
                </div>
                <div class="tweet__author-slug">
                    <p>@chris_martin</p>
                </div>
                <div class="tweet__publish-time">
                    <p>15h</p>
                </div>
            </div>
            <div class="tweet__content">
                <p>One of my favorite things about the "ergonomics" of haskell is
                    being able to leave underscores in code that isn't finished yet,
                    and the type checker still works and provides useful information
                    about the incomplete code. ("holes" --
                    <a href="https://typeclasses.com/typed-holes">https://typeclasses.com/typed-holes</a>)
                </p>
                
            </div>
            <div class="tweet__footer">
                <div class="tweet__likes">
                    <p>18 likes</p>
                </div>
                <div class="tweet__comments">
                    <p>19 comments</p>
                </div>

            </div>
        </div>
    </div>

    <div class="tweet">
        <img class="tweet__author-logo"
            src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?cs=srgb&dl=pexels-mohamed-abdelghaffar-771742.jpg&fm=jpg">
        <div class="tweet__main">
            <div class="tweet__header">
                <div class="tweet__author-name">
                    <p>Chris Martin</p>
                </div>
                <div class="tweet__author-slug">
                    <p>@chris_martin</p>
                </div>
                <div class="tweet__publish-time">
                    <p>15h</p>
                </div>
            </div>
            <div class="tweet__content">
                <p>One of my favorite things about the "ergonomics" of haskell is
                    being able to leave underscores in code that isn't finished yet,
                    and the type checker still works and provides useful information
                    about the incomplete code. ("holes" --
                    <a href="https://typeclasses.com/typed-holes">https://typeclasses.com/typed-holes</a>)
                </p>
                <div class="image">
                    <img class="tweet__image"
                        src="https://wallpapers.com/images/featured/best-cool-40lkhq7b7tl3p1qw.jpg">
                </div>
            </div>
            <div class="tweet__footer">
                <div class="tweet__likes">
                    <p>18 likes</p>
                </div>
                <div class="tweet__comments">
                    <p>19 comments</p>
                </div>

            </div>
        </div>
    </div>

</div>