<div *ngIf="isLoading">
    <app-page-spinner></app-page-spinner>
</div>
<app-not-found *ngIf="hasError && !isLoading"/>
<div *ngIf="!hasError !isLoading" id="container">
    <app-profile-picture [user]="user" [isOwner]="isOwner" [userId]="userId" [imageUrl]="imageUrl" />
    <div id="right-inner">
        <app-field [user]="user" [isOwner]="isOwner" [fieldName]="'username'" />
        <app-field [user]="user" [isOwner]="isOwner" [fieldName]="'email'" />
        <app-field [user]="user" [isOwner]="isOwner" [fieldName]="'firstName'" />
        <app-field [user]="user" [isOwner]="isOwner" [fieldName]="'lastName'" />
        <app-field [user]="user" [isOwner]="isOwner" [fieldName]="'age'" />
        <app-follow [user]="user"/>
    </div>

    <div style="clear: both;"></div>
</div>