<app-spinner *ngIf="isLoading"/>
<ng-container *ngIf="!isLoading">
  <span *ngIf="errorMsg">{{ errorMsg }}</span>
  <ng-container *ngIf="!isChanging">
    <a (click)="isChanging=true">Change Password</a>
    <div *ngIf="isChangedPassword" class="error-msg">Password is changed successfully!</div>
  </ng-container>
  <ng-container *ngIf="isChanging">
    <input type="password" [(ngModel)]="password" placeholder="Current Password">
    <input type="password" [(ngModel)]="updatedPass" placeholder="New Password">
    <input type="password" [(ngModel)]="updatedRePass" placeholder="Confirm New Password">
    <div *ngIf="isInvalidPassword()" class="error-msg">{{ getPasswordErrorMessage() }}</div>
    <button (click)="onCancel()">Cancel</button>
    <button *ngIf="!isInvalidPassword()" (click)="onSavePassword()">Save</button>
  </ng-container>
</ng-container>