#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-style: solid;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    padding: 100px;
  }
  
  .line{
    display: flex;
    align-items: center;
  }
  
  p {
    padding: 15px;
    border-style: solid;
    width: auto;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    #container {
      flex-direction: column;
      align-items: center;
    }
  
  }